[Desktop Entry]
Name=gdocopener
Comment=
Exec=python3 [your_path_to_the_gdocopener.py_file]/gdocopener.py %f
Terminal=false
Type=Application
MimeType=application/json